<div class="card">
  <div class="card-header">
    Member
  </div>
  <div class="card-body p-5">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-2 offset-md-1 pt-1">
            <span class="align-middle">File name</span>
          </div>
          <div class="col-md-2 offset-md-1 pt-1">
            <span class="align-middle">Last updated</span>
          </div>
        </div>
      </li>

      <li class="list-group-item" *ngFor="let file of files">
        <div class="row">
          <div class="col-md-1">
              <i *ngIf="isFolder" class="fas fa-folder"></i>
              <i *ngIf="!isFolder" class="fas fa-folder"></i>
          </div>
          <div class="col-md-2 offset-md-1 pt-1">
            <span class="align-middle">{{file.fileName}}</span>
          </div>
          <div class="col-md-2 offset-md-1 pt-1">
            <span class="align-middle">{{file.lastUpdate | date:'medium'}}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>