<div class="card">
  <div class="card-header">
    Member
  </div>
  <div class="card-body p-5">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3 offset-md-1 pt-2">
            <span class="align-middle">Username</span>
          </div>
          <div class="col-md-3 offset-md-5 pt-2">
            <span class="align-middle">Access level</span>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <app-user></app-user>
      </li>
    </ul>
  </div>

</div>